{% extends "base.html" %}

{% block headcontent %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sched-style.css')}}"></link>
{% endblock headcontent %}

{% block navbar_right %}
	{% include "schedule_link_active.html" %}
	{% include "campers_link.html" %}
{% endblock navbar_right %}

{% block bodycontent %}
	<div class="sched-nav z-depth-5">
		<div class="container center-align">
			<h4 style="margin-bottom: 0;">Groups</h4><hr style="border: 1px solid black;">
			<i class="material-icons">create</i><button class="group1">Group 1</button><br>
			<i class="material-icons">create</i><button class="group2">Group 2</button><br>
			<i class="material-icons">create</i><button class="group3">Group 3</button><br>
			<div class="" style="position: absolute; bottom: 1em">
				<p style="font-size: 1.25em">
					<a class="btn-floating light-green darken-4"><i class="material-icons">add</i></a> Add New Group
				</p>
			</div>
		</div>
	</div>

	<div class="sched-div">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=9dn2cvujfk9rsfnlvdmn2rchg0%40group.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FNew_York"
        style="border-width:0"  width="100%" height="99%" frameborder="0" scrolling="no"></iframe>
	</div>
{% endblock bodycontent %}
